{% extends "examples/examples_base.html"%}
{% block extrahead %}
	<style type="text/css" media="screen">
		.error{ border:1px solid red; }
	</style>
{% endblock %}

{% block content %}

<h1>Full Form utf-8 Machine!</h1>
<form action="" method="post" id="my_form" accept-charset="utf-8">
	{{ form.as_p }}
	<p><input type="submit" value="Send" onclick="send_form();return false;"></p>
</form>
<script type="text/javascript" charset="utf-8">
	function send_form(){
		data = $('my_form').serialize(true);
		// jQuery
		// If you are using jQuery, you need this form->object serializer
		// http://github.com/cowboy/jquery-misc/blob/master/jquery.ba-serializeobject
		Dajaxice.examples.send_form('Dajax.process', {'form':data});
	}
</script>
	
{% endblock %}