<h1>dajax examples</h1>
<ul>
	<li><a href="/multiply/">multiply example</a></li>
	<li><a href="/maps/">maps example</a></li>
	<li><a href="/random/">random example</a></li>
	<li><a href="/forms/">forms example</a></li>
	<li><a href="/pagination/">pagination example</a></li>
	<li><a href="/full_form/">full form example</a><span style="color:red;"> new</span></li>
	<li><a href="/flickr/">flickr in place editor</a><span style="color:red;"> new</span></li>
</ul>

<h1>api examples</h1>
<ul>
	<li><a href="/apiexamples/">full api examples</a></li>
</ul>